{% load static %}
<html>
<head>
  <title>Forgot Password</title>
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div class="auth-page">
  <div class="bg-overlay"></div>

  <div class="auth-card">
    <h2>Forgot Password</h2>

    <input type="email" id="email" placeholder="Enter your email">
    <button id="sendOtp">Send OTP</button>

    <div class="auth-text">
      <a href="/login/">← Back to Login</a>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/API.js' %}"></script>
<script>
$("#sendOtp").on("click", function () {

  const email = $("#email").val();

  if (!email) {
    alert("Please enter email");
    return;
  }
  const csrftoken = document.querySelector(
    '[name=csrf-token]'
  ).content;

  $.ajax({
    url: "{% url 'forgotPassword' %}",   
    type: "POST",
    headers: {
      "X-CSRFToken": csrftoken  
    },
    contentType: "application/json",
    data: JSON.stringify({
      email: email
    }),
    success: function (res) {
      alert(res.Message);

      // store email for next step
      localStorage.setItem("fp_email", email);

      // go to verify otp page
      window.location.href = "{% url 'verifyotppage' %}";
    },
    error: function (err) {
      alert(err.responseJSON?.Message || "Something went wrong");
    }
  });
});
</script>


</body>
</html>
