{% extends "base.html" %}
{% load static %}
{% block content %}
 
<div id="alert-container"
     style="position:fixed; bottom:20px; right:20px; z-index:9999; width:320px;">
</div>
<link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
 
<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
 
    <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
    Home
</a>
 
<span class="stext-109 cl8 m-l-9 m-r-9">&gt;</span>
 
<a href="#" class="stext-109 cl8 hov-cl1 trans-04" id="breadcrumbCategory">
    Category
</a>
 
<span class="stext-109 cl8 m-l-9 m-r-9">&gt;</span>
 
<span class="stext-109 cl4" id="breadcrumbProduct">
    Product
</span>
 
 
</div>
 
 
    </div>
       
 
    <!-- Product Detail -->
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="product-gallery">
 
    <!-- LEFT THUMBNAILS -->
    <div class="slick3-thumb" id="productThumbSlider"></div>
 
    <!-- MAIN IMAGE -->
    <div class="slick3 gallery-lb" id="productImageSlider"></div>
 
</div>
                    </div>
                </div>
                   
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14" id="productName"></h4>
 
                        <span class="mtext-106 cl2" id="productPrice"></span>
 
 
                       
                        <!--  -->
<div class="p-t-33">
 
    <!-- SIZE -->
    <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
            Size
        </div>
 
        <div class="size-204 respon6-next">
            <!-- 🔴 THIS WAS MISSING -->
            <div id="sizeBoxWrapper" class="size-box-wrapper"></div>
            <input type="hidden" id="selectedSize">
        </div>
    </div>
 
    <!-- COLOR -->
    <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
            Color
        </div>
 
        <div class="size-204 respon6-next">
            <div id="colorWrapper" class="product-detail-colors"></div>
            <input type="hidden" id="productColor">
        </div>
    </div>
 
    <!-- QUANTITY + CART -->
    <div class="flex-w flex-r-m p-b-10">
        <div class="size-204 flex-w flex-m respon6-next">
            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                    <i class="fs-16 zmdi zmdi-minus"></i>
                </div>
 
                <input class="mtext-104 cl3 txt-center num-product"
                       type="number"
                       name="num-product"
                       value="1"
                       readonly>
 
                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                    <i class="fs-16 zmdi zmdi-plus"></i>
                </div>
            </div>
 
            <button type="button" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 add-to-cart-btn">
    Add to cart
</button>
        </div>
    </div>
</div>
 
                        <!--  -->
 
                    </div>
                </div>
            </div>
 
            <div class="bor10 m-t-50 p-t-43 p-b-40">
                <!-- Tab01 -->
                <div class="tab01">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item p-b-10">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                        </li>
 
                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
                        </li>
 
                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab" id="reviewTab">
                                Reviews (0)
                            </a>
                        </li>
                    </ul>
 
                    <!-- Tab panes -->
                    <div class="tab-content p-t-43">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6" id="productFullDescription"></p>
 
 
                            </div>
                        </div>
 
                        <!-- - -->
                        <div class="tab-pane fade" id="information" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <ul class="p-lr-28 p-lr-15-sm" id="additionalInfoList">
                                    </ul>
                                </div>
                            </div>
                        </div>
 
                        <!-- - -->
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <div class="p-b-30 m-lr-15-sm">
                                       
                                       
                                        <!-- review -->
                                       
                                                <div class="row">
                                                    <div class="col-12">
 
                                                        <div id="reviewList"></div>
 
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
       
    </section>
 
 
    <!-- Related Products -->
    <section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                Related Products
            </h3>
        </div>
 
        <!-- ✅ PUT IT HERE -->
        <div class="wrap-slick2">
    <!-- LEFT ARROW -->
    <button class="arrow-slick2 prev-slick2">
        <i class="zmdi zmdi-chevron-left"></i>
    </button>
 
    <!-- SLIDER -->
    <div class="slick2" id="relatedProductsContainer"></div>
 
    <!-- RIGHT ARROW -->
    <button class="arrow-slick2 next-slick2">
        <i class="zmdi zmdi-chevron-right"></i>
    </button>
</div>
       
    </div>
</section>
       
 
    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
 
    <!-- Modal1 -->
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>
 
        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="{% static "images/icons/icon-close.png" %}" alt="CLOSE">
                </button>
 
                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                               
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
 
                                <div class="slick3 gallery-lb" id="productImageSliderModal"></div>
 
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">
                            <h4 id="productName"></h4>
                            <span id="productPrice"></span>
                            <p id="productDescription"></p>
 
                           
                            <!--  -->
                            <div class="p-t-33">
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        Size
                                    </div>
 
                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Size S</option>
                                                <option>Size M</option>
                                                <option>Size L</option>
                                                <option>Size XL</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
 
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        Color
                                    </div>
 
                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Red</option>
                                                <option>Blue</option>
                                                <option>White</option>
                                                <option>Grey</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
 
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-204 flex-w flex-m respon6-next">
                                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>
 
                                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">
 
                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>
 
                                        <button type="button" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 add-to-cart-btn">
    Add to cart
</button>
                                    </div>
                                </div>  
                            </div>
 
                            <!--  -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                <div class="flex-m bor9 p-r-10 m-r-11">
                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>
 
                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
 
                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
 
                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
<!--===============================================================================================-->  
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        });
    </script>
<!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="vendor/slick/slick.min.js"></script>
    {% comment %} <script src="js/slick-custom.js"></script> {% endcomment %}
<!--===============================================================================================-->
    <script src="vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
<!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function() {
            $(this).magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled:true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
<!--===============================================================================================-->
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
    <script>
        $('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
            e.preventDefault();
        });
 
        $('.js-addwish-b2').each(function(){
                       var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function(){
                showAlert(nameProduct + " added to wishlist ❤️","success");
 
                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });
 
        $('.js-addwish-detail').each(function(){
    var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
 
    $(this).on('click', function(){
        showAlert(nameProduct + " added to wishlist ❤️","success");
 
        $(this).addClass('js-addedwish-detail');
        $(this).off('click');
    });
});
 
        /*---------------------------------------------*/
 
       
    </script>
<!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });
 
            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/API.js' %}"></script>
 
<script>
 
function getProductIdFromURL() {
    return new URLSearchParams(window.location.search).get("productID");
}
function renderSizes(apiSizes) {
 
    const wrapper = $("#sizeBoxWrapper");
    wrapper.empty();
 
    if (!apiSizes || apiSizes.length === 0) {
        wrapper.html("<span>No sizes available</span>");
        return;
    }
 
    apiSizes.forEach(s => {
 
        const inStock = s.stock_quantity > 0;
 
        wrapper.append(`
            <div class="size-box ${inStock ? 'in-stock' : 'disabled'}"
                 data-size="${s.size}"
                 data-stock="${s.stock_quantity}">
                ${s.size}
            </div>
        `);
    });
}
$(document).on("click", ".size-box:not(.disabled)", function () {
    const selectedSize = $(this).data("size");
 
// 🔥 CHECK CART FOR THIS SIZE
checkProductInCartBySize(getProductIdFromURL(), selectedSize);
 
    $(".size-box").removeClass("active");
    $(this).addClass("active");
 
    const size = $(this).data("size");
    const stock = parseInt($(this).data("stock")) || 0;
 
    $("#selectedSize").val(size);
 
    // ✅ SET STOCK HERE (MOST IMPORTANT)
    $(".num-product")
        .val(1)
        .attr("max", stock);
 
    $("#stockMessage").hide();
 
    if (stock === 0) {
        $("#stockMessage")
            .text("Out of stock")
            .show();
    }
});
function renderAdditionalInfo(info){
 
    const container = $("#additionalInfoList");
    container.empty();
 
    if(!info || info.length === 0){
        container.html("<li>No additional information</li>");
        return;
    }
 
    info.forEach(item => {
 
        container.append(`
            <li class="flex-w flex-t p-b-7">
                <span class="stext-102 cl3 size-205">
                    ${item.label}
                </span>
 
                <span class="stext-102 cl6 size-206">
                    ${item.label_data}
                </span>
            </li>
        `);
 
    });
}
 
$(document).ready(function () {
 
   
    const productID = getProductIdFromURL();

    $("#productColor").on("change", function () {

    const productID = getProductIdFromURL();
    const colorId = $(this).val();

    console.log("Selected Color:", colorId);

    $.ajax({
        url: "/getSingleProduct",
        type: "GET",
        data: {
            productID: productID,
            colorId: colorId
        },
        success: function(res){

            console.log("NEW API RESPONSE:", res.data.image);

            loadProductImages(res.data.image);
            renderSizes(res.data.sizes);
        }
    });

});
    if (!productID) return;
 
    // 🔹 Fetch product from API
    $.ajax({
        url: "{% url 'getSingleProduct' %}",
        type: "GET",
        data: { productID: productID },
        success: function (res) {
        const product = res.data;
            loadProductImages(product.image);
            $(".move-to-bag")
                .text("Add to Cart")
                .removeClass("move-to-bag")
                .addClass("add-to-cart-btn");
            $("#productName").text(product.name);
            $("#productPrice").text("₹" + product.price);
            $("#productDescription").text(product.shortdesc);
            $("#productFullDescription").text(product.description);
            renderAdditionalInfo(product.additional_information);
 
    $(".js-wishlist").attr("data-product-id", product.id);
    loadWishlistState();
 
    renderSizes(product.sizes);
 
$("#breadcrumbCategory")
    .text(product.category_name)
    .attr("href", "/Product?categoryId=" + product.category_id);
 
$("#breadcrumbProduct").text(product.name);
 
 
            let colorHTML = "";

            if(product.colors && product.colors.length > 0){

                product.colors.forEach(c => {

                    colorHTML += `
                    <span class="product-detail-color"
                        data-id="${c.color_id}"
                        style="background:${c.color_code}">
                    </span>`;
                });

            }

            $("#colorWrapper").html(colorHTML); 
            // AUTO SELECT FIRST COLOR
            setTimeout(function(){
                $(".product-detail-color").first().click();
            },100);         
                                    
 
            const mainImage = Array.isArray(product.image)
    ? product.image[0]
    : product.image;
 
$(".add-to-cart-btn").attr({
    "data-id": product.id,
    "data-name": product.name,
    "data-price": product.price,
    "data-image": mainImage
});
 
            
            loadRelatedProducts(product);
            loadReviews(product.id);
        }
    });
});
$(document).off("click", ".add-to-cart-btn").on("click", ".add-to-cart-btn", function(e){
 
    e.preventDefault();
    e.stopImmediatePropagation();
    e.stopPropagation();
 
    const token = localStorage.getItem("token");
 
    if (!token) {
        window.location.href = "/login";
        return;
    }
 
    const productID = getProductIdFromURL();
    const quantity = parseInt($(".num-product").val()) || 1;
    const sizeId = $("#selectedSize").val();
    const colorId = $("#productColor").val();
 
    if (!sizeId) {
        showAlert("Please select size first","danger");
        return;
    }
 
    const cartIcon = document.getElementById("cartIcon");
 
    $.ajax({
        url: "/addToCart",
        type: "POST",
        contentType: "application/json",
        headers: {
            "token": token,
            "X-CSRFToken": getCSRFToken()
        },
        data: JSON.stringify({
            productId: productID,
            quantity,
            sizeId,
            colorId

        }),
        success: function () {
 
            if(cartIcon){
                let count = parseInt(cartIcon.getAttribute("data-notify")) || 0;
                cartIcon.setAttribute("data-notify", count + 1);
            }
 
            showAlert("Product added to cart 🛒","success");
 
           $(".add-to-cart-btn")
    .text("Move to Bag")
    .removeClass("add-to-cart-btn")   // 🔥 VERY IMPORTANT
    .addClass("move-to-bag");
        }
    });
 
});
 
 
function loadProductImages(images) {
    if (!images || images.length === 0) return;
 
    let mainHtml = "";
    let thumbHtml = "";
 
    images.forEach(img => {
 
        // MAIN IMAGE
       mainHtml += `
<div class="item-slick3">
    <div class="wrap-pic-w pos-relative product-image-wrapper">
 
        <img src="${img}" alt="product">
 
        <!-- RIGHT SIDE ICONS (ALL 3) -->
        <div class="product-side-icons">
 
            <!-- ZOOM FIRST -->
            <a href="${img}"
               class="circle-icon zoom-icon">
                <i class="fa fa-expand"></i>
            </a>
 
            <!-- WISHLIST -->
            <div class="circle-icon js-wishlist"
                 data-product-id="${getProductIdFromURL()}">
                <i class="zmdi zmdi-favorite-outline"></i>
            </div>
 
            <!-- SHARE -->
            <div class="circle-icon js-share-product">
                <i class="zmdi zmdi-share"></i>
            </div>
 
        </div>
 
    </div>
</div>`;
 
        // THUMB IMAGE
        thumbHtml += `
        <div class="item-thumb">
            <img src="${img}" alt="thumb">
        </div>`;
    });
 
    const mainSlider = $("#productImageSlider");
    const thumbSlider = $("#productThumbSlider");

    // destroy slider completely
    if (mainSlider.hasClass("slick-initialized")) {
        mainSlider.slick("unslick");
    }
    if (thumbSlider.hasClass("slick-initialized")) {
        thumbSlider.slick("unslick");
    }

    mainSlider.empty();
    thumbSlider.empty();
 
    mainSlider.empty().append(mainHtml);
    thumbSlider.empty().append(thumbHtml);
 
    // MAIN SLIDER
    mainSlider.slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '#productThumbSlider'
    });
 
    // THUMB SLIDER
    thumbSlider.slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        vertical: true,
        focusOnSelect: true,
        asNavFor: '#productImageSlider',
        arrows: false
    });

    // 🔥 ADD THIS
    mainSlider.slick('refresh');
    thumbSlider.slick('refresh');
 
    // ZOOM POPUP
    $(".zoom-icon").magnificPopup({
    type: 'image',
    gallery: { enabled: true }
});
}
function isLoggedIn() {
    return localStorage.getItem("token") !== null;
}
 
 
$(document).on("click", ".js-wishlist", function () {
 
    const productID = $(this).data("product-id");
    const colorId = $("#productColor").val(); 
    const el = this;
 
    if (!isLoggedIn()) {
        window.location.href = "/login";
        return;
    }
 
    $.ajax({
        url: "/addOrRemoveWishlist",
        type: "POST",
        contentType: "application/json",
        headers: {
            "token": localStorage.getItem("token"),
            "X-CSRFToken": getCSRFToken()
        },
        data: JSON.stringify({ productId: productID,
        colorId: colorId
         }),
        success: function () {
             if ($(el).hasClass("active")) {
        showAlert("Product removed from wishlist ❌","danger");
    } else {
        showAlert("Product added to wishlist ❤️","success");
    }
 
    $.ajax({
        url: "/getWishlistByUserId",
        type: "GET",
        headers: { "token": localStorage.getItem("token") },
        success: function (res) {
            const ids = res.data.map(i => i.productId);
            updateWishlistIcons(ids);
        }
    });
 
}
    });
});
 
 
 
function checkProductInCart(productID) {
 
    const token = localStorage.getItem("token");
    if (!token) return;
 
    $.ajax({
        url: "/getAllCart",
        type: "GET",
        headers: { "token": token },
        success: function (res) {
           
 
            const exists = res.items.some(
                item => item.productId == productID
            );
 
            if (exists) {
                $(".add-to-cart-btn")
                    .text("Move to Bag")
                    .addClass("move-to-bag")
                    .removeClass("add-to-cart-btn");
            }
        }
    });
}
$(document).on("click", ".move-to-bag", function () {
    window.location.href = "/shopingCart";
});
// ================= QUANTITY LOGIC (PRODUCT DETAIL ONLY) =================
 
 
 // PLUS button
$(document).on("click", ".btn-num-product-up", function () {
 
    const qtyInput = $(".num-product");
    const maxStock = parseInt(qtyInput.attr("max"));
 
    // 🔒 SAFETY: size not selected or stock not loaded
  if (isNaN(maxStock)) {
    showAlert("Please select size first","danger");
    return;
}
 
    let currentQty = parseInt(qtyInput.val());
 
    if (currentQty < maxStock) {
        qtyInput.val(currentQty + 1);
        $("#stockMessage").hide();
    } else {
        qtyInput.val(maxStock);
showAlert(`Only ${maxStock} products available`, "danger");
    }
});
 
// MINUS button
$(document).on("click", ".btn-num-product-down", function () {
 
    let currentQty = parseInt($(".num-product").val()) || 1;
 
    if (currentQty > 1) {
        $(".num-product").val(currentQty - 1);
    }
 
    $("#stockMessage").hide();
});
function loadRelatedProducts(product) {
    $.ajax({
        url: "/getAllProduct",
        type: "GET",
        data: {
            related: true,
            productId: product.id,
            categoryId: product.category_id,
            color: product.color,
            limit: 8
        },
        success: function (res) {
            renderRelatedProducts(res.data);
        }
    });
}
function renderRelatedProducts(products) {
 
    const container = $("#relatedProductsContainer");
    container.empty();
 
    if (!products || products.length === 0) {
        container.html("<p>No related products</p>");
        return;
    }
 
    products.forEach(p => {
 
        const img1 = Array.isArray(p.image) ? p.image[0] : p.image;
        const img2 = Array.isArray(p.image) && p.image[1] ? p.image[1] : img1;
 
        container.append(`
        <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
            <div class="block2">
 
                <!-- IMAGE -->
                <div class="block2-pic hov-img0 product-hover-img">
                    <img src="${img1}" class="img-main">
                    ${img2 ? `<img src="${img2}" class="img-hover">` : ""}
                   
                    <a href="/product-detail?productID=${p.productId}"
                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1">
                    View
                    </a>
                </div>
 
                <!-- TEXT -->
                <div class="block2-txt p-t-14">
 
                    <!-- NAME + WISHLIST (SAME LINE) -->
                    <div class="product-title-row">
                        <a href="/product-detail?productID=${p.productId}"
                        class="stext-104 cl4 hov-cl1 product-name">
                        ${p.productName}
                        </a>
 
                        <a href="javascript:void(0)"
                        class="wishlist-inline js-wishlist-related"
                        data-product-id="${p.productId}">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>
 
                    <!-- PRICE -->
                    <span class="stext-105 cl3">
                        ₹${p.price}
                    </span>
 
                </div>
            </div>
        </div>
    `);
    });
 
    // 🔥 RE-INIT SLICK
    if (container.hasClass("slick-initialized")) {
        container.slick("unslick");
    }
 
    container.slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    infinite: false,
    arrows: true,
    prevArrow: $('.prev-slick2'),
    nextArrow: $('.next-slick2'),
    responsive: [
        { breakpoint: 1024, settings: { slidesToShow: 3 } },
        { breakpoint: 768, settings: { slidesToShow: 2 } },
        { breakpoint: 480, settings: { slidesToShow: 1 } }
    ]
});
        checkRelatedWishlistIcons();
}
function checkRelatedWishlistIcons() {
 
    const token = localStorage.getItem("token");
    if (!token) return;
 
    $.ajax({
        url: "/getWishlistByUserId",
        type: "GET",
        headers: { "token": token },
        success: function (res) {
            const ids = res.data.map(i => i.productId);
            updateWishlistIcons(ids);   // 🔥 use common function
        }
    });
}
$(document).on("click", ".js-wishlist-related", function () {
 
    const token = localStorage.getItem("token");
 
    if (!token) {
        window.location.href = "/login";
        return;
    }
 
    const el = this;
    const productID = $(this).data("product-id");
 
    $.ajax({
        url: "/addOrRemoveWishlist",
        type: "POST",
        contentType: "application/json",
        headers: {
            "token": token,
            "X-CSRFToken": getCSRFToken()
        },
        data: JSON.stringify({ productId: productID }),
 
        success: function () {
 
            // ✅ SAME POPUP LIKE PRODUCT DETAIL
            if ($(el).hasClass("active")) {
                showAlert("Product removed from wishlist ❌","danger");
            } else {
                showAlert("Product added to wishlist ❤️","success");
            }
 
            // 🔥 Refresh icons everywhere
            $.ajax({
                url: "/getWishlistByUserId",
                type: "GET",
                headers: { "token": token },
                success: function (res) {
                    const ids = res.data.map(i => i.productId);
                    updateWishlistIcons(ids);
                }
            });
 
        }
    });
});
function updateWishlistIcons(wishlistIds) {
 
    // Apply to ALL wishlist icons everywhere
    $(".js-wishlist, .js-wishlist-related, .js-wishlist-b2").each(function () {
 
        const pid = Number($(this).data("product-id"));
        const icon = $(this).find("i");
 
        if (wishlistIds.includes(pid)) {
            $(this).addClass("active");
            icon.removeClass("zmdi-favorite-outline")
                .addClass("zmdi-favorite");
        } else {
            $(this).removeClass("active");
            icon.removeClass("zmdi-favorite")
                .addClass("zmdi-favorite-outline");
        }
 
    });
}
function loadWishlistState() {
 
    const token = localStorage.getItem("token");
    if (!token) return;
 
    $.ajax({
        url: "/getWishlistByUserId",
        type: "GET",
        headers: { "token": token },
        success: function (res) {
            const ids = res.data.map(i => i.productId);
            updateWishlistIcons(ids);
        }
    });
}
$(document).on("click", ".js-share-product", function () {
 
    const url = window.location.href;
 
    if (navigator.share) {
        navigator.share({
            title: document.title,
            url: url
        });
    } else {
        navigator.clipboard.writeText(url);
        showAlert("Product link copied 🔗","success");
    }
});
function showAlert(message, type="success") {
 
    const alertHTML = `
    <div class="alert alert-${type} alert-dismissible fade show shadow" role="alert">
        ${message}
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    `;
 
    $("#alert-container").append(alertHTML);
 
    setTimeout(function(){
        $("#alert-container .alert").first().alert('close');
    },3000);
}
 
$('.nav-tabs a').on('click', function (e) {
    e.preventDefault();
    $(this).tab('show');
});
 
function loadReviews(productID){
 
    $.ajax({
        url: "/getReviewByProductId",
        type: "GET",
        data: { productID: productID },
 
        success: function(res){
 
            const reviews = res.data;
            const container = $("#reviewList");
 
            container.empty();
 
            // ✅ UPDATE COUNT
            $("#reviewTab").text(`Reviews (${reviews.length})`);
 
            if(!reviews || reviews.length === 0){
                container.html("<p>No reviews yet</p>");
                return;
            }
 
            reviews.forEach(r => {
 
                let stars = "";
 
                for(let i=1;i<=5;i++){
                    stars += i <= r.rating
                    ? '<i class="zmdi zmdi-star"></i>'
                    : '<i class="zmdi zmdi-star-outline"></i>';
                }
 
                container.append(`
                <div style="display:flex; justify-content:space-between; align-items:flex-start; gap:30px; margin-bottom:30px;">
 
                    <!-- LEFT SIDE -->
                    <div style="display:flex; gap:15px; flex:1;">
 
                        <img src="${r.userImage ? r.userImage : '/static/images/avatar-01.jpg'}"
                            style="width:60px;height:60px;border-radius:50%;object-fit:cover;">
 
                        <div style="flex:1;">
 
                            <div style="display:flex; align-items:center; gap:10px; margin-bottom:5px;">
                                <span style="font-weight:600; color:#222;">
                                    ${r.userName || "User"}
                                </span>
 
                                <span style="color:#f5a623;">
                                    ${stars}
                                </span>
                            </div>
 
                            <p style="color:#555; margin:0;">
                                ${r.comment}
                            </p>
 
                        </div>
 
                    </div>
 
                    <!-- RIGHT SIDE -->
                    ${
                        r.images && r.images.length > 0
                        ? `
                        <div style="flex-shrink:0; display:flex; gap:10px;">
                            ${r.images.map(img => `
                                <a href="${img}" class="review-zoom">
                                    <img src="${img}"
                                        style="width:120px;height:120px;object-fit:cover;border-radius:10px;cursor:pointer;">
                                </a>
                            `).join("")}
                        </div>
                        `
                        : ""
                    }
 
                </div>
                `);
               
 
            });
            $(".review-zoom").magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
 
        }
 
    });
 
}
 
$(document).on("click", ".move-to-bag", function(e){
    e.preventDefault();
    window.location.href = "/shopingCart";
});
function checkProductInCartBySize(productID, sizeId) {
 
    const token = localStorage.getItem("token");
    if (!token) return;
 
    $.ajax({
        url: "/getAllCart",
        type: "GET",
        headers: { "token": token },
        success: function (res) {
 
            const exists = res.items.some(
                item => item.productId == productID && item.sizeId == sizeId
            );
 
            if (exists) {
                $(".add-to-cart-btn")
                    .text("Move to Bag")
                    .removeClass("add-to-cart-btn")
                    .addClass("move-to-bag");
            } else {
                $(".move-to-bag")
                    .text("Add to Cart")
                    .removeClass("move-to-bag")
                    .addClass("add-to-cart-btn");
            }
        }
    });
}

$(document).on("click",".product-detail-color",function(){

    $(".product-detail-color").removeClass("active");
    $(this).addClass("active");

    const colorId = $(this).data("id");

    // ⭐ STORE SELECTED COLOR
    $("#productColor").val(colorId);

    const productID = getProductIdFromURL();

    $.ajax({
        url: "/getSingleProduct",
        type: "GET",
        data: {
            productID: productID,
            colorId: colorId
        },
        success:function(res){
            loadProductImages(res.data.image);
            renderSizes(res.data.sizes);
        }
    });

});
</script>
 
</body>
</html>
{% endblock content %}
 