{% load static %}
<html>
<head>
  <title>Reset Password</title>
  <meta name="csrf-token" content="{{ csrf_token }}">

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div class="bg-overlay"></div>

<div class="card">
  <h2>Set New Password</h2>

  <input type="password" id="password" placeholder="New Password">
  <input type="password" id="confirm" placeholder="Confirm Password">

  <button id="resetPass">Reset Password</button>

  <div class="text">
    <a href="{% url 'login' %}">← Back to Login</a>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/API.js' %}"></script>
<script>
$("#resetPass").on("click", function () {

  const password = $("#password").val();
  const confirm = $("#confirm").val();
  const email = localStorage.getItem("fp_email");

  if (!password || !confirm) {
    alert("All fields are required");
    return;
  }

  if (password !== confirm) {
    alert("Passwords do not match");
    return;
  }

  if (!email) {
    alert("Session expired. Please restart forgot password.");
    window.location.href = "{% url 'forgetpassword' %}";
    return;
  }
  const csrftoken = document.querySelector(
    '[name=csrf-token]'
  ).content;


  $.ajax({
    url: "{% url 'setNewPassword' %}",
    type: "POST",
    headers: {
      "X-CSRFToken": csrftoken,
      "token": localStorage.getItem("token")
    },
    contentType: "application/json",
    data: JSON.stringify({
      email: email,
      newPassword: password,
      confirmPassword: confirm
    }),
    success: function (res) {
      alert(res.message || "Password reset successful");
      window.location.href = "{% url 'homePage' %}";
    },
    error: function (err) {
      alert(err.responseJSON?.message || "Error resetting password");
    }
  });
});
</script>

</body>
</html>
